<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            filenames=".gph"
            icon="icons/editor.gif"
            class="distributed.plugin.ui.editor.GraphEditor"
            default="true"
            name="DisJ Editor"
            contributorClass="distributed.plugin.ui.actions.GraphEditorActionBarContributor"
            id="distributed.plugin.ui.editor.GraphEditor"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.carleton.scs.disj"
            name="DisJ">
      </category>
      <view
            category="org.carleton.scs.disj"
            class="distributed.plugin.ui.view.DisJViewer"
            icon="icons/editor.gif"
            id="distributed.plugin.ui.view.DisJViewer"
            name="DisJ View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="distributed.plugin.ui.view.DisJViewer"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
